<h1>HOME</h1>
<div class="productsContainer">
    {{#each products}}
        <div class="cardContainer">
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            <h2>${{price}}</h2>
        </div>
    {{/each}}
</div>